<nav class="navbar navbar-expand-lg  navbar-light " style="background-color: #be95c4">
    <div class="container px-4 px-lg-5">
        <!-- <h6 class="pe-5" style="color: aliceblue;">welcome {{user}} ❤</h6> -->
        <a class="navbar-brand " routerLink="/"><h1 class=" text-center"><i class="fa-brands fa-phoenix-squadron"></i>&nbsp; Animixx</h1>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0 ms-lg-4">
                <li class="nav-item"><input (keyup)="search($event)" type="text" placeholder="🔎 Search your anime" class="form-control "></li>
            </ul>
            <form class="d-flex" >
                <a routerLink="/watchlist" class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Watch list
                    <!-- <span *ngIf="" class="badge bg-white text-dark ms-1 rounded-pill">3</span> -->
                    <span  class="badge  text-dark ms-1 rounded-pill">😍</span>
                </a>
            </form>
        </div>
    </div>
</nav>