<div class="complete">
  <!-- Header -->
  <app-header></app-header>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://i.pinimg.com/originals/65/c1/66/65c16665f39cbb90161dcf140c6cfce7.png" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.pinimg.com/originals/04/8e/d4/048ed48666ab08672b8d0da8602ed4e1.jpg" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.toynami.com/images/naruto/naruto_banner.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">
    <div class="columns is-multiline p-0 pt-6 last">
      <div class="column is-full">
        <p class="has-text-white">Welcome back <strong>{{user}}❣</strong></p>
      </div>

      <div class="column is-one-quarter">
        <!-- Card -->
        <section class="py-5">
          <div class="p3">
            <div class="container px-4 px-lg-5 mt-5">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let animie of allanimie | filter:searchterm:'name'" class=" col mb-5">
                  <div class="card" data-id="123456">
                    <div class="img">
                        <img [src]="animie.img" alt="">
                    </div>
                    <div class="info">
                        <h2 style="color: black;text-align: center;">{{animie.name}}</h2>
                        <div class="single-info">
                            <span style="color: black;">Rate: </span>
                            <span style="color: black;">⭐{{animie.Rating}}</span>
                        </div>
                        <div class="single-info">
                            <span style="color: black;">Type: </span>
                            <span style="color: black;">{{animie.categorie}}</span>
                        </div>
                    </div>
                    <div class="text-center" style="padding-bottom: 2px;">

                      <button data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        class="btn btn-outline-success mt-auto">Reviews</button> &nbsp; &nbsp; &nbsp;

                      <button
                        (click)="addtowatchlist(animie.id,animie.name,animie.description,animie.Rating,animie.episode,animie.categorie,animie.studio,animie.img)"
                        class="btn btn-outline-danger mt-auto"><i class="fa-sharp fa-solid fa-bookmark"></i></button>
                    </div>
                </div>
                  <!-- <div class="card h-100 align-items-center">

                    <button class="border border-0" routerLink=""><img class="card-img-top" [src]="animie.img" alt="..."
                        width="200" height="300" /></button>

                    <div class="card-body p-4">
                      <div class="text-center">

                        <h6 class="fw-bolder">{{animie.name}}</h6>

                        ⭐{{animie.Rating}}
                        <p>Episodes - {{animie.episode}}</p>
                        <p>{{animie.categorie}}</p>

                      </div>

                    </div> -->

                    
                    <!-- Product actions-->
                    <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center">

                        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                          class="btn btn-outline-success mt-auto">Reviews</button> &nbsp; &nbsp; &nbsp;

                        <button
                          (click)="addtowatchlist(animie.id,animie.name,animie.description,animie.Rating,animie.episode,animie.categorie,animie.studio,animie.img)"
                          class="btn btn-outline-danger mt-auto"><i class="fa-sharp fa-solid fa-bookmark"></i></button>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
