body
{
  background-color: azure;
}

.card-img-top:hover {

  transform: scale(1.08);
  background-color: black;
  transition: .5s;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
#carouselExampleInterval{
  margin-top: 100px;
}